* {
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  font-family: 'Karla', sans-serif;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #224f80 1.18%, #2a40d5 100%);
  color: white;
  padding: 20px;
}

.header--img {
  margin-right: 6px;
  height: 100%;
}

.header--title {
  font-size: 1.5rem;
  margin-right: auto;
}

.header--project {
  font-size: 1.2rem;
  font-weight: 500;
}

/* Meme.jsx */
main {
  padding: 36px;
}

.form {
  display: grid;
  max-width: 800px;
  min-width: 400px;
  margin: 0 auto;
  /* align-items: center; */
  /* justify-content: center; */
  /* 
    https://chat.openai.com/c/0debfdda-5e6c-4e50-be42-c55fe8604ff2
    grid-template-rows: `40px 40px`
    his part of the shorthand defines the height of 
    each row in the grid. In this case, it's specifying that there 
    are two rows, and each row has a height of 40 pixels.  

    grid-template-columns: `1fr 1fr`
    This part of the shorthand defines the width of each column in the grid.

  */
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input {
  font-family: 'Karla', sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
  outline: none;
}

.form--button {
  grid-column: 1 / -1;
  font-family: 'Karla', sans-serif;
  border-radius: 5px;
  background: linear-gradient(90deg, #224f80 1.18%, #2a40d5 100%);
  color: white;
  border: none;
  cursor: pointer;
}
