* {
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

header {
  height: 65px;
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #224f80 1.18%, #2a40d5 100%);
}

.header--img {
  margin-right: 20px;
  margin-left: 20px;
  width: 50px;
}

.header--title {
  font-size: 1.5rem;
}
